@using InformaSpexBanner.ViewModels
@model BannerEditViewModel

<div class="row">
	<div class="col-md-12">
		<h2>Add banner for @Model.ExhibitionName</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form asp-controller="Banner" asp-action="Create" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="@Model.ExhibitionId" />
			<input type="hidden" asp-for="@Model.Id" />
			<label asp-for="Name"></label>
			<input asp-for="Name" />
			<label asp-for="Image"></label>
			<input asp-for="Image" />

			<button type="submit">Save</button>
				
		</form>
	</div>
</div>